

#road-map {
  
  width: 800px;
  height: 300px;
  background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=S%C5%82oneczna,Mi%C4%99dzywodzie,Poland&zoom=16&size=600x300&maptype=roadmap&sensor=false&markers=size:mid%7Ccolor:red%7C12c,S%C5%82oneczna,Miedzywodzie,Poland");
  margin-right: auto;
  margin-left: auto;
  background-size: 800px 300px;
  background-repeat: no-repeat;
}

#slide-2 {
  background-image: url("/images/map.png");	
  background-size: 100%;
  background-repeat: no-repeat;
  color: #34495e !important;
  
}

#slide-2 i {
	color:#496392 !important;
}

#slide-3 {

}

#slide-5 #title {

	height: 100% !important;
}

.selectpicker {
	width: 220px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	height: 30px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
	border-radius: 0px;
	vertical-align: middle;
	cursor: pointer;
}
.selectdate {
	width: 220px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	height: 30px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
	border-radius: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.slide, .story {

}