<!-- === Slide 2 === -->
<div class="slide story" id="slide-2" data-slide="2">
	<div class="container">
		<div class="row title-row">
			<div class="col-12 font-light">Chcesz się z nami skontaktować?</div>
		</div><!-- /row -->
		<div class="row line-row">
			<div class="col-12 hidden">&nbsp;</div>
		</div><!-- /row -->
		<div class="row line-row">
			<div class="col-12 hidden">&nbsp;</div>
		</div><!-- /row -->
		<div class="row subtitle-row">
			<div class="col-sm-1 hidden-sm">&nbsp;</div>
			<div class="col-12 col-sm-10 font-light"><h4>Po prostu kliknij odpowiedni przycisk! Znajdziesz nas bez problemu!</h4></div>
			<div class="col-sm-1 hidden-sm">&nbsp;</div>
		</div><!-- /row -->
		<div id="contact-row-4" class="row">
			<div class="col-sm-3 hidden-sm">&nbsp;</div>
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-phone icon-black"></i></a></p>
				<span class="hover-text font-light ">+44 4839-4343</span></a>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
				<span class="hover-text font-light ">munter@blacktie.co</span></a>
			</div><!-- /col12 -->
			<div class="col-12 col-sm-2 with-hover-text">
				<p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
				<span class="hover-text font-light ">London, England<br>zip code 98443</span></a>
			</div><!-- /col12 -->
			<div class="col-sm-3 hidden-sm">&nbsp;</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide2 -->

