<!-- SCRIPTS -->
  <div class="row content-row">
      <div class="col-1 col-sm-4 hidden-sm">&nbsp;</div>
      </div>
    </div><!-- /row -->
    <div class="row content-row">
      <div class="col-1 col-sm-4 hidden-sm">&nbsp;</div>
      </div>
    </div><!-- /row -->
  <!-- fancybox init -->
  <script>
  $(document).ready(function(e) {
    var lis = $('.nav > li');
    menu_focus( lis[0], 1 );
    
    $(".fancybox").fancybox({
      padding: 20,
      fitToView: false,
      height: 600,
      width: 600,
      helpers: {
        overlay: {
          locked: false
        },
        title: { type: 'inside'}
      },
      afterLoad: function(){
         this.title = this.title + ' ' + $(this.element).find('img').attr('alt');
      }
    });
  
  });
  </script>
