
  <div class="navbar navbar-fixed-top" data-activeslide="1">
    <div class="container">
    
      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav row">
          <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">GŁÓWNA</span></a></li>
          <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">KONTAKT</span></a></li>
          <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">GALERIA</span></a></li>
          <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-gears"></span> <span class="text">OFERTA</span></a></li>
          <li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">DOJAZD</span></a></li>
          <li data-slide="6" class="col-12 col-sm-2"><a id="" href="" title="Change leangue"><span class="icon icon-envelope"></span> <span class="text">ENGLISH</span></a></li>
        </ul>
        <div class="row">
          <div class="col-sm-2 active-menu"></div>
        </div>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
  
  
  <!-- === Arrows === -->
  <div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    <div id="arrow-left" class="disabled visible-lg"></div>
    <div id="arrow-right" class="disabled visible-lg"></div>
  </div><!-- /.arrows -->