<!-- === Slide 1 MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
	<div class="container">
		<div id="home-row-1" class="row clearfix">
			<div class="col-12">
				<h1 class="font-semibold">PROMYK <span class="font-thin">MIEDZYWODZIE</span></h1>
				<h4 class="font-thin">Dom wypoczynkowy w Międzywodziu. Dysponujemy 12 pokojami oraz poddaszem.</h4>
				
				<br>
				<br>
			</div><!-- /col-12 -->
		</div><!-- /row -->
		<div id="home-row-2" class="row clearfix">
			<div class="col-12">
				<h3 class="font-thin">Zapraszamy również do domków drewnianych.</h3>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide1 -->

