<!-- === Slide 7 === -->
<div class="slide story" id="slide-7" data-slide="7">
	<div class="container">
		<div class="row title-row" id="title">
			<div class="col-12 font-thin"><span class="font-semibold">
				Practice:
			</div>
		</div><!-- /row -->	
		<div class="row content-row">
			<div class="col-12 font-thin"><span class="font-semibold"> 
				<h2>
				<p>	
				try1, try2, try3
				</p>
				</h2>
			</div>
		</div><!-- /row -->
		<div class="row content-row">
			<div class="col-1 col-sm-4 hidden-sm">&nbsp;</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide7 -->