<!-- === Slide 4 - Process === -->
<div class="slide story" id="slide-4" data-slide="4">
	<div class="container">
		<div class="row title-row">
			<div class="col-12 font-thin">Wybierz przedział czasu i wybierz pokój!</div>
		</div><!-- /row -->
		<div class="row line-row">
			<div class="hr">&nbsp;</div>
		</div><!-- /row -->
		<div class="row content-row">
			<div class="col-12 col-sm-6 font-light">
				<input type="text" id="date_start" class="selectdate" placeholder="Początek rezerwacji">
			</div>
			<div class="col-12 col-sm-6 font-light">
				<input type="text" id="date_end" class="selectdate" placeholder="Koniec rezerwacji">
			</div>
		</div>
		</div><!-- /row -->
		<div class="row content-row">
			<div class="col-1 col-sm-4 hidden-sm">&nbsp;</div>
			<div class="col-12 col-sm-4 font-light">
				<h2 class="font-thin">Ilość osób:</h2>
				<div id="persons" class="btn-group" data-toggle="buttons">

				</div>
			</div>
			<div class="col-1 col-sm-4 hidden-sm">&nbsp;</div>

		</div>
		<div class="row content-row">
			<div class="col-12 col-sm-12">
				<input type="submit" id="calculate" class="btn btn-primary" value="Oblicz">
			</div>
		</div>
		<div class="row content-row">
			<div class="col-1 col-sm-3 hidden-sm">&nbsp;</div>
			<div class="col-12 col-sm-3">
				<h2 class="font-thin">cena: </h2><ul id="price" class="list-group">
													<div class="well">Nie wybrano</div>
												</ul>
			</div>
			<div class="col-12 col-sm-3">
				<h2 class="font-thin">dni: </h2><div id="days" class="well">Nie wybrano</div>
			</div>
			<div class="col-1 col-sm-3 hidden-sm">&nbsp;</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide4 -->