<!-- === Slide 5 === -->
<div class="slide story" id="slide-5" data-slide="5">
	<div class="container">
  <div class="row title-row" id="title">
  
  <div class="row title-row" id="title">
			<div class="col-12 font-thin"><span class="font-semibold">
              Regulamin: <a href="url">pobierz tutaj</a>
			</span></div>
		</div>	

		<div class="row title-row" id="title">
			<div class="col-12 font-thin"><span class="font-semibold">
				Jak dojechać:
			</span></div>
		</div><!-- /row -->	
		<div class="row content-row">
			<div class="col-12 font-thin"><span class="font-semibold"> 
				<h2>
				<p>	
				Najprościej dojechać jest PKS-em, połączeniami z Dziwnowa, Kamienia Pomorskiego, Kołaczewa, Kołobrzegu, Międzyzdrojów, Niechorza czy Szczecina. Przystanek znajduje się w odległości około 50 metrów od ośrodka. 
				</p><p>
				Połączenia z dalszych regionów Polski możesz znaleźć w: Gdańsku, Gdyni, Gorzowie, Koszalinie i Słupsku.
				</p><p>
				Jadąc samochodem, kieruj się na Wolin - Unin - Międzywodzie, albo Kamień Pomorski - Dziwnówek - Dziwnów - Międzywodzie.
				</p>
				</h2>
			</span></div>
		</div><!-- /row -->
		<div class="row content-row">
			<div class="col-1 col-sm-4 hidden-sm">&nbsp;</div>
			</div>
		</div></div><!-- /row -->
	</div>
<!-- === /slide 5 === -->